<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="escondidinhoConnectionString" connectionString="server=127.0.0.1;user id=root;password=ALUNOS;persistsecurityinfo=True;database=escondidinho"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>