 /*CSS by CAIOBEP*/

/*MAIN*/

body{
  font-family: "San Francisco", "Helvetica Neue", "Lucida Grande";
}
/*------------MenuBar-------------*/
.menubar{
  width:100%;
  background-color: rgb(55, 53, 53);
}

.menubar>ul{
  list-style: none;
}

.menubar>ul>li{
  display:inline;
}

.menubar a{
  position:relative;
  top:-20px;
  text-decoration: none;
  color:#FFFFFF;
  margin:4%;
  margin-top: -10px;
}

#MainIcon{
  position:relative;
  top:20px;
  left:-1%;
}

.menubar a:hover{
  color: rgb(174,129,76);
}
/*----------HEADER-------------*/

.headerImg img{
  width: 100%;
}

.content h1{
  text-align: center;
  font-family: "Raleway", "sans"
}

#simpleBar{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/*------------------Content-----------------------*/
/*-----------------Destaque------------------*/
.Content_Destaque {
  /*local div*/
  position:relative;
  top:50%;
  width: 80x;
  height: 291px;

  padding: 20px;
}
  .Content_Destaque p{
  /*texto div local*/
  position:relative;
  top:10%;
  left:50%;
  float: left;
  max-width: 370px;
  text-align: left;
  font-family: HannotateSC-W5;
  font-size: 17px;
  color: #000000;
  line-height: 17px;
  }

  .Content_Destaque h2{
  /*titulo div local*/
  position:relative;
  left:55%;
  top:15%%;
  color:black;
  font-family: HannotateSC-W5;
  font-size: 25.52px;
  color: #000000;
  line-height: 36px;
  }

  #Desc_Icon{
  /*icone local*/
  position:absolute;
  top:20%;
  left:48%;
  z-index: 1;
  }

  #Desc_Main_Image{
  /*Imagem local*/
  position: absolute;
  margin:0;
  padding: 0;
  left:0;
  top:40px;
 width:405px;
 height:260px;
  }
/*---------------Velocidade----------------------*/
.Content_Velocidade{

  position:relative;
  top:50%;
  width: 80%;

  margin-top:100px;

  left:26%;
  height: 291px;
  padding: 20px;
}
  .Content_Velocidade p{
    /*texto div Velocidade*/
    position:relative;
    top:0%;
    left:10%;
    float: left;
    max-width: 370px;
    text-align: left;
    font-family: HannotateSC-W5;
    font-size: 17px;
    color: #000000;
    line-height: 17px;
  }

  #Vel_Main_Image{
  /*Imagem Velocidade*/
  width:300px;
  heigh:300px;

    margin-left: -300px;
    margin-top: -150px;

    position:absolute;
    top:50%;
    left:90%;
  }

  #Vel_Icon{
  /*icone Velocidade*/
  position:absolute;
  top:10%;
  left:5%;
  }

  .Content_Velocidade h2{
  /*titulo div local*/
  position:relative;
  left:10%;
  top:0%;
  color:black;
  font-family: HannotateSC-W5;
  font-size: 25.52px;
  color: #000000;
  line-height: 36px;
  }
/*------------Local-------------*/
.Content_Local {
    /*local div*/

    width:80%;
    height: 291px;
    padding: 20px;
}
    .Content_Local p{
    /*texto div local*/
    position:relative;
    top:35%;
    left:50%;
    float: left;
    max-width: 370px;
    text-align: left;
    font-family: HannotateSC-W5;
    font-size: 17px;
    color: #000000;
    line-height: 17px;
    }

    .Content_Local h2{
    /*titulo div local*/
    position:relative;
    float:right;
    left:-10%;
    top:10%;
    color:black;
    font-family: HannotateSC-W5;
    font-size: 25.52px;
    color: #000000;
    line-height: 36px;
    }

    #local_Icon{
    /*icone local*/
    position:relative;
    top:10%;
    left:1.5%;
    height: 60px;
    }

    #local_Main_Image{
    /*Imagem destaque*/
    position: absolute;
    width:400px;
    height:250px;

      margin-left: -450px;
      margin-top: 40px;
    }
/*----------------Organização----------------*/
.Content_org{
      position:relative;
      top:50%;
      width: 836px;
      left:26%;
      height: 291px;
      padding: 20px;
}
      .Content_org p{
        /*texto div Velocidade*/
        position:relative;
        top:5%;
        left:7%;
        float: left;
        max-width: 370px;
        text-align: left;
        font-family: HannotateSC-W5;
        font-size: 17px;
        color: #000000;
        line-height: 17px;
      }

      #org_Main_Image{
      /*Imagem Velocidade*/
      padding: 0;
      top:40px;
      height:250px;
      z-index: 0;
      }

      #org_Icon{
      /*icone Velocidade*/
      position:absolute;
      height: 60px;
      top:18%;
      left:5%;
      }

      .Content_org h2{
      /*titulo div local*/
      position:relative;
      left:-12%;
      top:10%;
      color:black;
      font-family: HannotateSC-W5;
      font-size: 25.52px;
      color: #000000;
      line-height: 36px;

      z-index: 1;
      }


/*------------Footer--------------*/




/*+++++++++++++++++LOGIN++++++++++++++++++++/*/
