 /*CSS by CAIOBEP*/

/*MAIN*/

body{
  font-family: "San Francisco", "Helvetica Neue", "Lucida Grande";
}
/*-------- AWESOME MENUBAR  -------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
#MainIcon{
  position: absolute;
  left:0px;
  top:-2px;
}


#menubar,
#menubar ul,
#menubar ul li,
#menubar ul li a,
#menubar #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menubar:after,
#menubar > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menubar #menu-button {
  display: none;
}
#menubar {
  margin-bottom: 20px;
  width: auto;
  border: 3px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  background: #f7f7f7;
  box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#menubar > ul {
  background: url('images/bg.png');
}
#menubar > ul > li {
  float: left;
}
#menubar.align-center > ul {
  font-size: 0;
  text-align: center;
}
#menubar.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menubar.align-right > ul > li {
  float: right;
}
#menubar > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#menubar > ul > li > a:hover,
#menubar > ul > li:hover > a,
#menubar > ul > li.active > a {
  color: #444444;
}
#menubar #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#menubar.small-screen {
  width: 100%;
}
#menubar.small-screen > ul,
#menubar.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#menubar.small-screen > ul > li,
#menubar.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#menubar.small-screen > ul > li > a {
  padding: 18px 25px;
}
#menubar.small-screen > ul > li:after,
#menubar.small-screen > ul > li:before {
  display: none;
}
#menubar.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  background: url('images/bg.png');
}
#menubar.small-screen #menu-button.menu-opened {
  color: #444444;
}
#menubar.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #fd8a17;
  border-bottom: 2px solid #fd8a17;
  width: 18px;
  height: 3px;
}
#menubar.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#menubar.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #fd8a17;
}
#menubar.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#menubar.small-screen #menu-indicator {
  display: none;
}

#MainIcon.small-screen{
  visibility: hidden;
}

/*---------- End of the AWESOME MENUBAR --------------*/

.headerImg img{
  width: 100%;
}

.content h1{
  text-align: center;
  font-family: "Raleway", "sans"
}

#simpleBar{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/*------------------Content-----------------------*/
